@model SSW.Rewards.Application.Common.Models.DigitalRewardEmail;

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <p>Hi SSW Marketing</p>

    <p>@Model.RecipientName has claimed @Model.RewardName.</p>

    <p>Please generate a voucher code and send it to @Model.RecipientEmail.</p>

    <p>Thanks,</p>

    <p>SSW Rewards Notification Service</p>
</div>
</body>
</html>