@page
@model SSW.Rewards.Application.Common.Models.FormCompletionCreateAccount;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
         You have points to redeem! Download SSW.Rewards. 
    </div>
</body>
</html>