@model SSW.Rewards.Application.Common.Models.FormCompletionCreateAccountEmail;

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    Hi @Model.Name,
    <br/>
    Thanks for completing the form!
    <br/>
    You have received @Model.Points points.
</div>
</body>
</html>