@page
@model SSW.Rewards.Application.Common.Models.FormCompletionPointsReceived;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Thanks for completing the form! You have received {{ ONE GORILLION }} points.
    </div>
</body>
</html>