@model SSW.Rewards.Application.Common.Models.FormCompletionPointsReceivedEmail;

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    Hi @Model.UserName!
    <br/>
    Thanks for completing the form!
    <br/>
    <a href="https://onelink.to/4feu6v">Click here</a> to download SSW.Rewards and claim your achievement!
</div>
</body>
</html>