services:
  # SQL Server
  rewards-sqlserver:
    container_name: rewards-sqlserver
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - MSSQL_SA_PASSWORD=Rewards.Docker1!
      - ACCEPT_EULA=1
    ports:
      - 1433:1433
    volumes:
      - sql_data:/var/opt/mssql
      - ./backups:/backup
    profiles: ["all", "tools", "webapi", "admin"]

  # Azurite
  rewards-azurite:
    container_name: rewards-azurite
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - 10000:10000
      - 10001:10001
      - 10002:10002
    volumes:
      - azurite_data:/data
    profiles: ["all", "tools", "webapi", "admin"]

  # API
  rewards-webapi:
    container_name: rewards-webapi
    depends_on:
      - rewards-sqlserver
      - rewards-azurite
    build:
      dockerfile: src/WebAPI/Dockerfile
    ports:
      - 5001:5001
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:5001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=ThisPassword
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/WebAPI.pfx
      - ConnectionStrings__DefaultConnection=TrustServerCertificate=True; Server=rewards-sqlserver,1433; User Id=SA; Password=Rewards.Docker1!; Database=ssw.rewards
      - ConnectionStrings__HangfireConnection=TrustServerCertificate=True; Server=rewards-sqlserver,1433; User Id=SA; Password=Rewards.Docker1!; Database=ssw.rewards.hangfire
      - "CloudBlobProviderOptions__ContentStorageConnectionString=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://rewards-azurite:10000/devstoreaccount1;QueueEndpoint=http://rewards-azurite:10001/devstoreaccount1;TableEndpoint=http://rewards-azurite:10002/devstoreaccount1;"
      - SigningAuthority=https://app-ssw-ident-staging-api.azurewebsites.net/
    volumes:
      - ${CERTS_PATH}:/https:ro
    profiles: ["all", "webapi", "admin"]

  # Admin UI
  rewards-adminui:
    container_name: rewards-adminui
    depends_on:
      - rewards-sqlserver
      - rewards-webapi
    build:
      dockerfile: src/AdminUI/Dockerfile
    ports:
      - 7137:7137
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7137
      - ASPNETCORE_Kestrel__Certificates__Default__Password=ThisPassword
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/WebAPI.pfx
      - RewardsApiUrl=https://rewards-webapi:5001
    volumes:
      - ${CERTS_PATH}:/https:ro
    profiles: ["all", "admin"]

volumes:
  sql_data:
  azurite_data: