<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SSW.Rewards.Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <span class="oi oi-people" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="achievements">
                <span class="oi oi-star" aria-hidden="true"></span> Achievements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rewards">
                <span class="oi oi-basket" aria-hidden="true"></span> Rewards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profiles">
                <span class="oi oi-person" aria-hidden="true"></span> Profiles
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
