<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>SSW Rewards</string>
	<key>CFBundleIdentifier</key>
	<string>com.SSW.SSW.Consulting</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SSW Rewards</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to the camera to scan QR Codes</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.SSW.SSW.Consulting</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msale33283b1-7326-447d-baae-e783ece0789b</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.SSW.rewards</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.ssw.rewards</string>
				<string>msauth.com.ssw.consulting</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.80</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This permission will enable you to save SSW User Groups and other events</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to your photo library will enable you to upload a custom avatar</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to alert you of upcoming events of interest in your area</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to alert you of upcoming events of interest in your area</string>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica-Bold-Font.ttf</string>
	</array>
</dict>
</plist>
