@* LoadingDialog.razor *@
<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column align-center pa-8">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.h6" Class="mt-4" Align="Align.Center">
                @LoadingText
            </MudText>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter] public string LoadingText { get; set; } = "Loading...";
}