<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.7" package="com.ssw.consulting" android:installLocation="auto" android:versionCode="10">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="SSW Rewards" android:icon="@mipmap/launcher_foreground" android:roundIcon="@mipmap/ic_launcher_round">
		<activity android:name="com.microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
        <!--<data android:host="auth" android:scheme="msal60b96e0a-c6dd-4320-855f-ed58e44ffd00" />-->
        <data android:host="auth" android:scheme="msalbfe53aa1-a7df-499d-900f-725a5222fc23" />
			</intent-filter>
		</activity>
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/notification" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>