on:
    workflow_call:

env:
    PROJECT: src/AdminUI/AdminUI.csproj
jobs:
    build-admin-artifact:
      runs-on: ubuntu-latest
  
      steps:
        - uses: actions/checkout@v2
  
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            global-json-file: .github/global-ci.json

        - name: Install Workload
          run: |
            dotnet nuget locals all --clear
            dotnet workload install wasm-tools --source https://api.nuget.org/v3/index.json --ignore-failed-sources
  
        - name: Restore
          shell: bash
          run: dotnet restore $PROJECT
  
        - name: Build
          shell: bash
          run: dotnet build $PROJECT  --no-restore --configuration Release
  
        - name: Publish
          shell: bash
          run: dotnet publish $PROJECT --no-build --configuration Release --output out
  
        - name: Upload a UI Artifact
          uses: actions/upload-artifact@v4
          with:
            name: ui
            path: out/wwwroot
            if-no-files-found: error
  
        - name: Upload a Infra Artifact
          uses: actions/upload-artifact@v4
          with:
            name: infra
            path: infra
            if-no-files-found: error