on:
  workflow_call:

env:
  PROJECT: src/WebAPI/WebAPI.csproj

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Update appsettings.json with Firebase credentials
        shell: pwsh
        run: |
          $settingsPath = "src/WebAPI/appsettings.json"
          $settings = Get-Content $settingsPath | ConvertFrom-Json
          $firebaseCredentials = '${{ secrets.FIREBASE_CREDENTIALS }}' | ConvertFrom-Json
          $settings.Firebase.FirebaseCredentials = $firebaseCredentials
          $settings | ConvertTo-Json -Depth 10 | Set-Content $settingsPath

      - name: Install Workload
        run: |
          dotnet nuget locals all --clear
          dotnet workload install wasm-tools --source https://api.nuget.org/v3/index.json --ignore-failed-sources
      
      - name: Install dependencies
        run: dotnet restore $PROJECT
      - name: Build
        run: dotnet build $PROJECT --configuration Release --no-restore
      - name: Test
        run: dotnet test $PROJECT --configuration Release --no-build
      - name: Publish
        run: dotnet publish $PROJECT --configuration Release --no-build --output ./published
      - name: Zip
        shell: pwsh
        run: Compress-Archive -Path ./published/* -DestinationPath ./api.zip
      
      # api 
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: api
          path: ./api.zip
          retention-days: 2
          if-no-files-found: error

      # infra
      - name: Upload Infra Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: infra
          path: ./infra
          retention-days: 2
          if-no-files-found: error